﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="project_work._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h3>Menu</h3>
       
        <p><a href="./Presentation/CustomerList.aspx">Sign Up &raquo;</a></p>
        <p><a href="./Presentation/PaymentTypeList.aspx">PaymentType &raquo;</a></p>
        <p><a href="./Presentation/InvoiceList.aspx">Invoice &raquo;</a></p>
         <p><a href="./Presentation/Login.aspx">Login &raquo;</a></p>
    </div>

  
</asp:Content>
