﻿
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5683e8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.button:hover span {
    padding-right: 25px;
}

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

h3 {
    color: blue
}

.image {
    width: 100px;
    height: 100px;
}
